<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns:wicket>
<head>
<title>HeaderPanel</title>
</head>
<body>
	<wicket:panel>
		<div class="container-fluid">
			<div class="row-fluid">
				<div class="span12">
					<ul class="nav nav-tabs">
						<li class="active"><a href="/index">Home</a></li>
						<li><a href="/accounts">accounts</a></li>
						<li><a href="/repositories">repositories</a></li>
						<li><a href="/create/repo">create repo</a></li>
						<li><a href="/create/account">create account</a></li>
						<li><a href="/video">video</a></li>
					</ul>
				</div>
			</div>
		</div>
	</wicket:panel>
</body>
</html>